* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .home,
  .services,
  .reports,
  .contact,
  .Dashboards,
  .Contribute,
  .analysis,
  .Add_exercise{
  display: flex;
  margin-left: 260px;
  font-size: 2rem;
  }
  .links{
    text-decoration: none;
  }
